a:hover {
    color: #fa605e;
}

button {
  background: #fa605e;
}

.cta-btn {
  min-height: 35px;
  width: auto;
  display: inline-block;
  padding: 0.4rem 1.5rem 0.1rem 1.5rem;
  cursor: pointer;
  outline: none;
  text-decoration: none;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  /* line-height: 13px; Hacks targeting Firefox. */
  font-weight: 300;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-shadow: none;
  border-radius: 0.3rem;
  border: rgba(0,0,0,0.05) 0.1em solid;
  background: #fa605e;
  margin: 0 0 1.75em 0;
}

.cta-btn:hover {
  color: #ffffff;
  background: #fb8181;
}

.share-btn {
  display: inline-block;
  color: #ffffff;
  border: none;
  padding: 0.35em 0.25em 0.25em 0.25em;
  width: 1.8em;
  opacity: 0.9;
  box-shadow: 0 2px 0 0 rgba(0,0,0,0.2);
  outline: none;
  text-align: center;
}

.share-btn:hover {
  color: #eeeeee;
}

.share-btn:active {
  position: relative;
  top: 2px;
  box-shadow: none;
  color: #e2e2e2;
  outline: none;
}

.share-btn.twitter { background: #55acee; }
.share-btn.facebook { background: #3B5998; }
.share-btn.pinterest { background: #cd1d21; }
.share-btn.reddit { background: #ff5700; }
.share-btn.email { background: #444444; }

#author-subtitle {
  font-family: "Merriweather", serif;
  letter-spacing: 0.01rem;
  font-size: 1.7rem;
  font-style: italic;
  color: #9EABB3;
  margin: 0 0 1.75em 0;
}
